/* styles.css */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/* header */
header {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.navigation {
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

/* link states */
a {
    text-decoration: none;
}
a:link {
    color: #E5E7EB;
}

a:visited {
    color: #E5E7EB;
}

a:hover {
    color: #3882F6;
}

a:active {
    color: #3882F6;
}

/* button */
.button-signup {
    border: 2px solid #3882F6;
    background-color: #3882F6;
    padding: 5px 20px;
    color: #F9FAF8;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 700;
}

/* hero section */

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 300px;
}

.hero h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.heroimg {
    background-color: gray;
    width: 400px;
    height: 200px;
}

/* information section */

.info {
    background-color: white;
    height: 100px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info1 {
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.infoimgs {
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}

.info1 img {
    height: 100px;
    width: 100px;
    border: 3px solid #3882F6;
}

/* quote section */

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    height: 300px;
}

.quotetext {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.signup {
    background-color: white;
    height: 250px;
}

.signup-box {
    background-color: #3882F6;
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

