/* styles.css */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* header */

header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
}

.banner {
    min-height: 60px;
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
}

.navigation {
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    display: inline-flex;
    gap: 20px;
}

/* main */
/* link states */

a {
    text-decoration: none;
}
a:link {
    color: #E5E7EB;
}

a:visited {
    color: #E5E7EB;
}

a:hover {
    color: #3882F6;
}

a:active {
    color: #3882F6;
}

/* sign up buttons */

.button-signup {
    border: 2px solid #3882F6;
    background-color: #3882F6;
    padding: 5px 20px;
    color: #F9FAF8;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 700;
    display: block;
    max-width: fit-content;
    max-height: fit-content;
}

a.button-signup:hover {
    color: #1F2937;
}

/* hero section */

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.hero1 {
    min-height: 300px;
    width: 800px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.herotext {
    max-width: 375px;
    text-align: left;
}

.hero h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 200;
}

.heroimg img {
    background-color: gray;
    border-radius: 7px;
    min-width: 400px;
    max-height: 225px;
}

/* information section */

.info {
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
}

.info1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 300px;
    width: 800px;
}

.info  h1 {
    min-height: fit-content;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 25px;
}

/* pics */

.pics {
    display: flex;
    justify-content: space-evenly;
}

.pics figcaption {
    text-align: center;
    width: 125px;
    font-size: 12px;
    font-weight: 300;
}

.pics img {
    border: 2px solid #3882F6;
    border-radius: 7px;
    height: 120px;
    width: 120px;
}

/* quote section */

.quotes {
    background-color: #E5E7EB;
    color: #1F2937;
    text-align: justify;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quotebox {
    max-width: 700px;
    display: flex;
    flex-direction: column;
}

.quotebox q {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quotebox cite {
    text-decoration: none;
    font-weight: 900;
    align-self: flex-end;
}

/* signup section */

.signup {
    background-color: #F9FAF8;
    color: #E5E7EB;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-box {
    background-color: #3882F6;
    width: 800px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.signup .button-signup {
    border: 1px solid #E5E7EB;
}

/* footer */

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    min-height: 80px;
    text-align: center;
    align-content: center;
}

